<% breadcrumb :stream %>

<div class="row">
	<div class="col-sm-8">
		<%= render 'shared/breadcrumbs' %>
	</div>
	<div class="col-md-4 text-right">
		<p><%= render 'controls' %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-10">
		<p>
  			<strong>Sending XML events to:</strong>
  		  	<%= link_to stream_uri, stream_uri, target: '_blank' %>
		</p>
	</div>
</div>

<%= form_tag(stream_upload_path, {multipart: true, class:'form-horizontal'}) do %>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			<%= text_area_tag :input_xml, nil, rows: 10, class:'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			<%= file_field_tag :file_xml, class:'filestyle' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			  <%= submit_tag 'Send', class:'btn btn-default btn-block' %>
		</div>
	</div>
<% end %>