<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
	  		<div class="panel-body">
	  		<form action="upload" method="post" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
    			<div class="col-sm-6">
      				<input name="name" type="text" class="form-control" id="name">
    			</div>
				<label for="age" class="col-sm-2 control-label">Age</label>
    			<div class="col-sm-2">
      				<input name="age" type="number" class="form-control" id="age">
    			</div>
			</div>

			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">Phone</label>
    			<div class="col-sm-10">
      				<input name="phone" type="text" class="form-control" id="phone">
    			</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
    			<div class="col-sm-10">
      				<input name="email" type="email" class="form-control" id="email">
    			</div>
			</div>

			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-4">
					<input type="submit" value="Process" class="form-control btn btn-default">
				</div>
			</div>
		</form>
		  </div>
		</div>
	</div>

	<div class="col-sm-6">
	    <table class="table">
	      <thead>
	        <tr>
	          <th>Name</th>
	          <th>Age</th>
	          <th>Phone</th>
	          <th>Email</th>
	          <th>&nbsp;</th>
	        </tr>
	      </thead>

	      <tbody>
	        <% @customers[:results].each do |result| %>
	          <tr>
	            <td><%= result[:event][:name] %></td>
	            <td><%= result[:event][:age] %></td>
	            <td><%= result[:event][:phone] %></td>
	            <td><%= result[:event][:email] %></td>
	            <td>
		            <form action="delete" method="post">
		              <input type="hidden" name="uuid" value="<%= result[:time_id] %>">
					  <button class="btn btn-xs btn-link" type="submit">
					  	<span class="glyphicon glyphicon-remove"></span>
					  </button>
					</form>
	            </td>
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
  </div>
</div>
