<% breadcrumb @schema %>
<div class="row">
	<div class="col-sm-8">
		<%= render 'shared/breadcrumbs' %>
	</div>
	<div class="col-md-4 text-right">
		<p><%= render 'controls' %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<dl class="dl-horizontal">
			<dt></dt>
			<dd><%= @schema.name %></dd>

			<dt>Root</dt>
			<dd><%= @schema.root %></dd>

			<dt>Statements</dt>
			<% if @schema.metadata[:statements].empty? %>
				<dd>-</dd>
			<% else %>
				<% @schema.metadata[:statements].each do |statement| %>
					<dd>&rarr; <%= link_to truncate(statement[:name], length: 25), statement_path(statement[:id])  %></dd>
				<% end %>
			<% end %>

		</dl>
	</div>
	<div class="col-md-7">
		<%= CodeRay.scan(format_xml(@schema.xsd), :xml).div.html_safe %>
	</div>
</div>
