<% breadcrumb :statements %>
<div class="row">
    <div class="col-sm-8">
        <%= render 'shared/breadcrumbs' %>
    </div>

    <div class="col-md-3">
        <%= form_tag(statements_path, {method: :get, class:'form-inline'}) do %>
            <div class="input-group">
                <%= text_field_tag :filter, params[:filter], class:'form-control', placeholder:'Filter', autocomplete:'off' %>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        <% end %>
    </div>
    <div class="col-md-1 text-right">
        <%= link_to new_statement_path, class: "btn btn-default btn-sm", title: 'New' do %>
            <span class="glyphicon glyphicon-plus"></span>
        <% end %>
    </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="list-group">
      <% @statements.each_with_index do |s, i| %>
          <!-- </div></div><div class="col-sm-3"><div class="list-group"> -->
          <%= link_to s, class:"list-group-item #{'disabled' if s.state.eql? 'STOPPED'}" do %>
              <% if s.metadata[:result_count] > 0 %>
                  <span class="badge"><%= s.metadata[:result_count] %></span>
              <% end %>
                  <%= truncate(s.name, length:30) %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>


<%= will_paginate @pagination %>
